<tr>
  <td><%= score.dancer.name %></td>
  <td><%= score.theme %></td>
  <td><%= score.choreography %></td>
  <td><%= score.technique %></td>
  <td><%= score.presentation %></td>
  <td><%= score.costume %></td>
  <td><%= score.music %></td>
  <td><%= score.violation %></td>
  <td><%= score.user.name %></td>
</tr>
