<tr>
  <td><%= score.dancer.name %></td>
  <td><%= score.dancer.group.name %></td>
  <td><%= score.theme %></td>
  <td><%= score.choreography %></td>
  <td><%= score.technique %></td>
  <td><%= score.presentation %></td>
  <td><%= score.costume %></td>
  <td><%= score.music %></td>
  <td><%= score.violation %></td>
  <td><%= score.total %></td>
  <td><%= score.user.name %></td>
  <td><%= link_to "edit score", edit_dancer_path(score.dancer_id) %></td>
</tr>
