<table class="table">
  <tr>
    <th scope="col">Dancer Name</th>
    <th scope="col">Dance Name</th>
    <th scope="col">Dancer Group</th>
    <th scope="col">Theme</th>
    <th scope="col">Choreography</th>
    <th scope="col">Technique</th>
    <th scope="col">Presentation</th>
    <th scope="col">Costume</th>
    <th scope="col">Music</th>
    <th scope="col">Violation</th>
    <th scope="col">Total</th>
    <th scope="col">Judge Name</th>
    <% if session[:logged_in] %>
      <th>Edit Score</th>
    <% end %>
  </tr>
  <% @scores.each do |score| %>
    <tr>
      <td><%= score.dancer.name %></td>
      <td><%= score.dancer.dance_name %></td>
      <td><%= score.dancer.group.name %></td>
      <td><%= score.theme %></td>
      <td><%= score.choreography %></td>
      <td><%= score.technique %></td>
      <td><%= score.presentation %></td>
      <td><%= score.costume %></td>
      <td><%= score.music %></td>
      <td><%= score.violation %></td>
      <td><%= score.total %></td>
      <td><%= score.user.name %></td>
      <% if session[:logged_in] %>
        <td><%= link_to "Edit Score", edit_score_path(score.dancer_id, user_id: score.user.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
