<% @title = "Edit Dancer Score" %>
<% @header = "Edit Dancer Score of #{@dancer.name} for #{@score.user.name}" %>

<h2>Dance Name: <%= @dancer.dance_name %></h2>

<h3>Total Score: <%= @score.total %></h3>

<%= form_for @score, html: { class: "form-control" } do |f| %>
  <div class="form-group">
    <%= f.label :theme, "Theme" %>
    <%= f.text_field :theme, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :presentation, "Presentation" %>
    <%= f.text_field :presentation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :technique, "Technique" %>
    <%= f.text_field :technique, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :choreography, "Choreography" %>
    <%= f.text_field :choreography, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :costume, "Costume" %>
    <%= f.text_field :costume, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :music, "Music" %>
    <%= f.text_field :music, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :violation, "Violation" %>
    <%= f.text_field :violation, class: "form-control" %>
  </div>

  <%= f.button "Submit", class: "btn btn-primary" %>
<% end %>
