<% @groups.each do |group| %>
  <h2><%= group.name %></h2>
  <% if @current_user && @current_user.admin? %>
    <%= link_to "Edit group", edit_group_path(group.id) %>
  <% end %>

  <table class="table">
    <tr>
      <th>Dancer Name</th>
      <th>Dance Name</th>
      <th>Average Score</th>
    </tr>
    <% group.dancers.sort_by { |d| ScoresHelper.average(d.scores.map { |s| s.total }) }.reverse.each do |d| %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.dance_name %></td>
        <td><%= '%.2f' % ScoresHelper.average(d.scores.map { |s| s.total }) %></td>
      </tr>
    <% end %>
  </table>
  <h3>Top Dancer: <%= ScoresHelper.top_scorer(group) %></h3>
<% end %>
