<% @title = "groups" %>

<h1>Groups index</h1>

back to <%= link_to "home", root_path %>

<% @groups.each do |group| %>
    <h2><%= group.name %></h2>

    <table class="table">
      <tr>
        <th>dancer Name</th>
        <th>average score</th>
      </tr>
      <% group.dancers.each do |d| %>
        <tr>
          <td><%= d.name %></td>
          <td><%= ScoresHelper.average(d.scores.map {|x|x.total}) %></td>
        </tr>
      <% end %>
    </table>
    <h3>top dancer: <%= ScoresHelper.top_scorer(group) %></h3>
<% end %>
