<table class="table">
  <tr>
    <th scope="col">Dancer Name</th>
    <th scope="col">Dance Name</th>
    <th scope="col">Dancer Group</th>
    <th scope="col">Theme</th>
    <th scope="col">Presentation</th>
    <th scope="col">Technique</th>
    <th scope="col">Choreography</th>
    <th scope="col">Costume</th>
    <th scope="col">Music</th>
    <th scope="col">Violation</th>
    <th scope="col">Total</th>
    <th scope="col">Judge Name</th>
    <% if session[:logged_in] %>
      <th>Edit Score</th>
    <% end %>
  </tr>
  <% scores.each do |score| %>
    <tr>
      <% if score %>
      <td><%= score.dancer.name %></td>
      <td><%= score.dancer.dance_name %></td>
      <td><%= score.dancer.group.name %></td>
      <td><%= ScoresHelper.convert_score(score.theme) %></td>
      <td><%= ScoresHelper.convert_score(score.presentation) %></td>
      <td><%= ScoresHelper.convert_score(score.technique) %></td>
      <td><%= ScoresHelper.convert_score(score.choreography) %></td>
      <td><%= ScoresHelper.convert_score(score.costume) %></td>
      <td><%= ScoresHelper.convert_score(score.music) %></td>
      <td><%= ScoresHelper.convert_score(score.violation) %></td>
      <td><%= score.total %></td>
      <td><%= score.user.name %></td>
      <% if session[:logged_in] %>
        <td><%= link_to "Edit Score", edit_score_path(score.dancer_id, user_id: score.user.id) %></td>
      <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
