<% @title = "Dancer Info" %>
<% @header = "Dancer Info for #{@dancer.name}" %>

<table class="table">
  <tr>
    <th>Group</th>
    <th>Dancer Name</th>
  </tr>
    <tr>
      <td><%= @dancer.group.name %></td>
      <td><%= @dancer.dance_name %></td>
    </tr>
</table>

<table>
<%= render "scores/table" %>
<%= render "scores/score", :score => @score %>
</table>

<%= link_to "Edit Scores", edit_dancer_path %>
