<% @title = "Dancer Index" %>
<% @header = "Dancers" %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Dance Name</th>
    <th>Group</th>
    <th>Performance Order</th>
    <th>Show Scores</th>
    <% if @current_user.admin? %>
      <th>Edit Dancer</th>
    <% end %>
  </tr>
  <% @dancers.each do |dancer| %>
    <tr>
      <td><%= dancer.name %></td>
      <td><%= dancer.dance_name %></td>
      <td><%= dancer.group.name %></td>
      <td><%= dancer.performance_order %></td>
      <td><%= link_to "Show Scores", dancer_path(dancer.id) %></td>
      <% if @current_user.admin? %>
        <td><%= link_to "Edit Dancer", edit_dancer_path(dancer.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
